:root{
  --blue: #00a7b7;
  --red: #FF5964;
  --green: #4D9078;
  --pink: #e21950;
  --tmlbrand: #00c5b7;
  --gdlbrand: #70275f;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

@font-face {
  font-family: 'Bunday';
  src: url(../fonts/BundayClean-SeBoldUp.otf) format('opentype');
}

body{margin:0;padding:0;box-sizing:border-box;font-family:"Bunday", sans-serif}
img{max-width:100%;}
a{color: var(--blue);}
a:hover{color: var(--blue); text-decoration:none;}
section{display:block;}

.float-right{float:right;}
.float-left{float:left;}

a.m10link{color:#28ad28;}


#homepage{min-height:100vh;}

.homeContent h1{font-size: 75px; margin:0;}

.homeContent h2{font-size: 30px; padding: 20px 0 40px 0;}

.homeContent{
  text-align:center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  padding: 60px;
  margin: 0;
}


/* PORTFOLIO */
#portfolio{min-height:100vh; max-width:1300px; margin:auto;}
.portfolio-link{
    transition: all 350ms ease-in;
    -webkit-transition: all 350ms ease-in;
    -moz-transition: all 350ms ease-in;
    -o-transition: all 350ms ease-in;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.portfolio-link.right .fig-caption{text-align:right;}
.portfolio-link.left .fig-caption{text-align:left; left:50%;}
.fig-caption{
  padding: 0 20px;
    top: 50%;
    left: 0;
    transform: translate(-10%,-50%);
    -moz-transform: translate(-10%,-50%);
    -webkit-transform: translate(-10%,-50%);
    -o-transform: translate(-10%,-50%);
    -ms-transform: translate(-10%,-50%);
        -webkit-transition: .35s;
        line-height: 1.5em;
    position: absolute;
    width: 50%;
    display: block;
    color: #252627;
    z-index: 50;
}
.fig-caption h2{font-size: 65px; text-transform: uppercase;}
.portfolio-desc {font-size:32px;}
.portfolio-tags{
  font-size: 15px;
  text-transform: uppercase;
  margin: 25px 0 10px 0;
}
.portfolio-tags span {
    padding: 5px 10px;
    margin: 2px;
}
.tml .portfolio-tags span{background: var(--tmlbrand); color:white;}
.gdl .portfolio-tags span{background: var(--gdlbrand); color:white;}

/* PORTFOLIO TITLE*/
.port-title {
  margin: 0 auto;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: inline-block;
  text-align: left;
}
.port-title:before {
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  content: attr(data-hover);
}
.port-title {padding: 15px 0 15px 5px;}
.port-title:before {
  color: black;
  height: 0px;
}
.tml .port-title:before {color: var(--tmlbrand);}
.gdl .port-title:before {color: var(--gdlbrand);}

.portfolio-link:hover .port-title:before {
  height: 100%;
  text-shadow: 2px 2px 0px rgb(37, 38, 39);
 }
 .gdl.portfolio-link:hover .port-title:before{  text-shadow: 2px 2px 0px #a6b1b3;}

 .portfolio-link:hover figure img {
  transform: scale(1.1);
  transition: transform 2s ease-out;
}
 .portfolio-link figure img {
  transition: transform 2s ease-out;
}


/*Home hover*/
.hover-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.hover-container.m10{width: fit-content; display: inline-block;}
.hover-container a {
  display: block;
  margin: auto;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}
.hover-container.m10 a{padding:5px 10px;}
.hover-container a:after {
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: var(--blue);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: -1;
}
.hover-container.m10 a:after{background-color: green; height:3px;}

.hover-container a:hover {
  color: white;
}
.hover-container a:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}
.hover-container a:hover h1{
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}
.hover-container.m10 a:hover h1{
  text-shadow: 0;
}

[data-wipe] {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  border: 2px solid var(--pink);
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--pink);
  overflow: hidden;
}
[data-wipe]:before, [data-wipe]:after {
  content: attr(data-wipe);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #F1F1F2;
  background: var(--pink);
}
[data-wipe]:before {
  left: 0;
  text-indent: 18px;
  width: 0;
}
[data-wipe]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  transition: 0.2s ease-in-out;
}
[data-wipe]:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}
[data-wipe]:hover:after {
  left: 0;
  text-indent: 0;
  transition: 0s 0.2s ease-in-out;
}
.viewMoreBtn {
  font-size:16px;
  margin: 15px 0 15px 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
    border: 2px solid #000;
  z-index: 1;
}
.viewMoreBtn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}

.viewMoreBtn:hover {
  color: #fff;
}
.viewMoreBtn:hover:after {
  top: 0;
  height: 100%;
}
.viewMoreBtn:active {top: 2px;}

.portfolio-link.tml .viewMoreBtn:hover {border-color:var(--tmlbrand);}
.portfolio-link.tml .viewMoreBtn:hover:after {background:var(--tmlbrand);}
.portfolio-link.gdl .viewMoreBtn:hover {border-color:var(--gdlbrand);}
.portfolio-link.gdl .viewMoreBtn:hover:after {background:var(--gdlbrand);}


