@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cabin', sans-serif;
	color: #422214;
	margin: auto;
	max-width: 1000px;
	background-color: #636564;
}

img {
	max-width: 100%;
}

#comingsoon {
  width: 100%;
  text-align: center;
  font-size: 70px;
  margin-top: 50px;
}

/*------------ The side navigation menu -----------------*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #7c898b; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: 'Cabin',sans-serif;
    text-align: right;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #4c443c;
    display: block;
    transition: 0.3s
}
.links {
	margin-right: 20px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #636564;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*------------ END side navigation menu -----------------*/

.written {
	font-family: 'Quicksand', cursive;
}

header {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

header h1,
header a {
	color: #94a4b1;
	font-size: 60px;
	text-decoration: none;
	text-align: right;
}

header h2 {
	font-size: 30px;
	text-align: right;
	color: #322214;
}

.fifty {
	width: 50%;
}

.hundred {
	width: 100%;
}

.headings-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.icon-container {
  width: 30%;
}

#icon {
	max-width: 200px;
	border-radius: 50%;
  margin-left: 20px;
}


#project-container {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.social-buttons li {
  font-size: 25px;
  padding: 0 5px;
  float: right;
  margin-top: 10px;
}

.social-buttons a:hover {
	color: #322214;
}

.social-buttons ul {
  text-align: right;
  width: 50%;
}

#nav-opener {
	margin-top: 20px;
	margin-left: 10px;
    font-size: 30px;
    position: fixed;
}

#nav-opener:hover {
	color: #94a4b1;
	cursor: pointer;
}

.project-box {
	width: calc((100% - 80px)/2);
	height: auto;
	margin: 0 20px;
	background-color: #7C898B;
	text-align: center;
	padding: 20px 10px;
	margin-bottom: 40px;
  border-radius: 5%;
}

.project-box a {
	color: #4C443C;
	text-transform: uppercase;
  margin: 10px;
}

.project-box img {
	width: 90%;
}

.project-box h3 {
	font-size: 30px;
  margin: 5px 0;
}

.project-box h4 {
	font-size: 20px;
	margin-bottom: 5px;
}

.project-box p {
	font-size: 20px;
}

.left-align {
	text-align: left;
}

#portfolio-piece-container {
  width: 100%;
  margin-top: 50px;
}

.description-container {
  width: 100%;
  margin: auto;
}

.description-container h1 {
  color: #94a4b1;
  font-size: 60px;
  text-align: center;
  width: 100%;
}

.description-container h2 {
  font-size: 30px;
  text-align: center;
  color: #322214;
  width: 100%;
}

.description-container h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  display: inline;
}

#created-using {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  display: inline;
}

.icons-container { 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 10px 0px 10px;

}

.feature {
  width: 10%;
  margin: 10px;
  padding: 10px;
  list-style: none;
  background-color: #94a4b1;
  border: black 2px solid;
}
/*MEDIA QUERIES START HERE*/

@media only screen and (max-width: 730px) {
  .icon-container,
  .headings-container {
	width: 100%;
  }
  .social-buttons li {
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  }
  #icon {
  	margin-left: auto;
	margin-right: auto;
	width: 200px;
	display: block;
  }
  header h1,
  header a,
  header h2,
  header ul {
    text-align: center;
    margin: auto;
  }
  header ul {
  	margin-top: -20px;
  }
  #icon {
	margin: auto;
  }
  .project-box {
    width: calc((100% - 32px)/2);
    margin: 0 6px;
    margin-bottom: 12px;
  }
  #nav-opener {
  	background-color: rgba(147, 163, 177, .5);
    font-size: 40px;
    margin-left: 30px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 4px;
  }
}

.highlights_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 20px;
}

.lefttext {
  text-align: right;
  width: 40%;
  float: right;
  padding-right: 10px;
}

.righttext {
  text-align: left;
  width: 40%;
  float: left;
  padding-left: 10px;
}

.rightgif {
  width: 60%;
}

.rightgif img {
  float: right;
}

.leftgif {
  width: 60%;
}

code {
  font-size: 10px;
  background-color: black;
  color: white;
}
@media only screen and (max-width: 510px) {
  .project-box {
    width: calc(100% - 12px);
  }
}