.timeline {
  position: relative;
  &::before {
    content: '';
    // background: #C5CAE9;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5cae9+0,c5cae9+100&0+0,1+5,1+95,0+100 */
    background: -moz-linear-gradient(top, rgba(197,202,233,0) 0%, rgba(197,202,233,1) 5%, rgba(197,202,233,1) 95%, rgba(197,202,233,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(197,202,233,0) 0%,rgba(197,202,233,1) 5%,rgba(197,202,233,1) 95%,rgba(197,202,233,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(197,202,233,0) 0%,rgba(197,202,233,1) 5%,rgba(197,202,233,1) 95%,rgba(197,202,233,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5cae9', endColorstr='#00c5cae9',GradientType=0 ); /* IE6-9 */
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: -75px;
  &:first-of-type {
    padding-top: 50px;
  }
  &:last-of-type {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  &:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
    .date {
      right: auto;
      left: 0;
    }
    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #333 transparent transparent;
    }
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 29px 30px 29px;
  border-radius: 4px;
  // box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #333;
  }
}

@for $j from 1 through length($linkcolors) {
    .timeline-item:nth-child(#{length($linkcolors)}n+#{$j}) .timeline-content {
        background: nth($linkcolors, $j);
    }
    .timeline-item:nth-child(#{length($linkcolors)}n+#{$j}) .timeline-content .date{
        color: nth($linkcolors, $j);
    }
}

.timeline-item:nth-child(3){
  color: white;
  .date{color:white !important;}
}

.timeline-img {
  width: 36px;
  height: 36px;
  background: $green;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 22px;
  margin-left: -18px;
}

.timeline-card {
  padding: 0 !important;
  p {
    padding: 0 20px 20px 20px;
  }
  a {
    margin-left: 20px;
  }
}

.timeline-item h2 {
  font-size: 2.5rem;
  color: $offblack;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
  h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

.timeline-img i {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 36px;
  height: 36px;
}

.fa-trophy, .fa-code-branch {
  margin-top: 9px;
}
.fa-building {
  margin-top: 8px;
}
.fa-level-up-alt {
  margin-top: 7px;
}
.date {
  color:white;
  background: $offblack;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline {
    &::before, .timeline-img {
      left: 50px;
    }
    .timeline-content {
      .date {
        right: initial;
        left: 0;
      }
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
    .timeline-item {
      &:first-of-type{
        h2 {margin-top: 57px;}
      }
      margin-bottom: 10px;
      &:nth-child(even) .timeline-content {
        float: none;
      }
      &:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #333333 transparent transparent;
      }
    }
  }
}