// Font paths
// -------------------------

@font-face {
  font-family: "Icons8";
  src: url("../fonts/Icons8_391a418af108962e6d024a3cbe9d2ecc.eot");
  src: url("../fonts/Icons8_391a418af108962e6d024a3cbe9d2ecc.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Icons8_391a418af108962e6d024a3cbe9d2ecc.woff2") format("woff2"),
       url("../fonts/Icons8_391a418af108962e6d024a3cbe9d2ecc.woff") format("woff"),
       url("../fonts/Icons8_391a418af108962e6d024a3cbe9d2ecc.ttf") format("truetype"),
       url("../fonts/Icons8_391a418af108962e6d024a3cbe9d2ecc.svg#Icons8") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Icons8";
    src: url("../fonts/Icons8_391a418af108962e6d024a3cbe9d2ecc.svg#Icons8") format("svg");
  }
}